<h1>{{roomsShow.room.name}}</h1>

<p ng-if="roomsShow.currentUserPlaylist" ui-sref="usersShow({id: roomsShow.room.user.id})">This is your playlist... See profile</p>
<p ng-hide="roomsShow.currentUserPlaylist" ui-sref="usersShow({id: roomsShow.room.user.id})">{{roomsShow.room.user.email}}</p>
<p>Spotify Profile: {{roomsShow.room.owner_id}}</p>

<button class="btn btn-primary" ng-if="roomsShow.currentUserPlaylist" ui-sref="roomsEdit({ id: roomsShow.room.id })">Edit</button>
<button class="btn btn-primary" ng-click="roomsShow.delete(roomsShow.room)" ng-if="roomsShow.currentUserPlaylist">Delete</button>

<!-- <button ng-click="roomsShow.authorize('spotify')" ng-hide="roomsShow.authorized">Plese allow access to your Spotify account</button> -->
<button ng-click="roomsShow.playlistShow()">View Playlist</button>


<!-- <form ng-submit="roomsShow.createPlaylist()">
  <div class="form-group">
    <input class="form-control" id="playlistName" type="text" name="name" ng-model="roomsShow.playlist.name" placeholder="Name" required>
  </div>
  <input class="btn btn-primary btn-block" type="submit" value="Submit">
</form> -->

<div class="playlist" ng-if="roomsShow.showPlaylist">
  <h1>{{roomsShow.fullPlaylist.name}}</h1>

  <ul>
    <li ng-repeat="item in roomsShow.fullPlaylist">
    <h5>{{item.track.name}}</h5>
    <p>{{item.track.artists[0].name}}</p>
  </li>
  </ul>

  <iframe ng-src="{{roomsShow.player}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</div>

<div class="selectForPlaylist">
  <h1>{{roomsShow.playlist.name}}</h1>

  <div class="tile col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
    <h2>Search Artists</h2>

    <form ng-submit="roomsShow.searchArtists()">
      <div class="input-group input-group-search">

        <input type="text" class="form-control"  ng-model="roomsShow.searchArtistsText" name="search" required>
        <input class="btn btn-primary btn-block" type="submit" value="Submit" />
      </div>
    </form>
  </div>

  <div class="tile col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
    <h2>Search songs</h2>

    <form ng-submit="roomsShow.searchTracks()">
      <div class="input-group input-group-search">

        <input type="text" class="form-control"  ng-model="roomsShow.searchTracksText" name="searchTracks" required>
        <input class="btn btn-primary btn-block" type="submit" value="Submit" />
      </div>
    </form>
  </div>

  <div class="results">
    <h1>Results</h1>
    <div ng-if="roomsShow.searchstatusArtists">
      <h1>Results</h1>
      <ul>
        <li ng-repeat="result in roomsShow.results">
          <h5 ng-click="roomsShow.findArtistsSongs(result.id)">{{result.name}}</h5>
          <img src="{{result.images[0].url}}" height="100px" width:"100px"/>
          </li>
      </ul>
    </div>

    <div ng-if="roomsShow.searchstatusTracks">
      <ul>
        <li ng-repeat="result in roomsShow.results">
          <h5>{{result.name}}</h5>
          <audio controls>
            <source src="{{result.preview_url}}">

          </audio>
          <p>Artist: {{result.artists[0].name}}</p>
          <p>Album: {{result.album.name}}</p>
          <p>{{result.uri}}</p>
          <button ng-click="roomsShow.addToPlaylist(result.uri)">Add to Playlist</button>
          <!-- <iframe src="'https://embed.spotify.com/?uri={{test.uri}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe> -->
          </li>
      </ul>
    </div>

    <div ng-if="roomsShow.searchArtistAlbums">
      <ul>
        <li ng-repeat="item in roomsShow.artistAlbums">
        <p>{{item.name}}</p>
        <img src="{{item.images[0].url}}" height="100px" width="100px">
        <div ng-init="tracks = roomsShow.fetchTracks(item.id)">

        <ul>
          <li ng-repeat="track in roomsShow.albumTracks">
          <p>{{track.name}}</p>
          <p>{{track.uri}}</p>
          <button ng-click="roomsShow.addToPlaylist(track.uri)">Add to Playlist</button>
        </li>
        </ul>
        </div>
      </li>
      </ul>
    </div>
  </div>
</div>
