<div class="state-container">
<h2>Create Playlist</h2>
<button class="authorize" ng-click="roomsCreate.authorize('spotify')" ng-hide="roomsCreate.authorized">Plese allow access to your Spotify account</button>
<form ng-submit="roomsCreate.createPlaylist()">
  <div class="form-group">
    <input class="form-control" id="playlistName" type="text" name="name" ng-model="roomsCreate.playlist.name" placeholder="Name" required>
  </div>
  <input class="createButtons" type="submit" value="Submit">
</form>

<h2>New Room</h2>
<form ng-submit="roomsCreate.create()">
  <div class="form-group">
    <input type="text" class="form-control" id="name" name="name" ng-model="roomsCreate.room.name" placeholder="Name" required>
  </div>
  <input type="submit" class="createButtons" value="Add">
</form>
</div>
