.landing-title {
  color: $primary-color;
  font-size: 126px;
  text-align: center;
  margin: 92px 0 35px 0;
}

.weak {
  font-weight: lighter;
}

button.btn.btn-primary.enter {
  text-align: center;
}
