input#playlistName.form-control, input#name.form-control {
  background: $input-color;
  border: $input-color;
  color: $primary-color;
  width: 500px;
}

input.form-control{
  // background: $input-color;
  background: #16131D;
  border: none;
  border-radius: 0px;
}

input.form-control:active{
  outline: none;
}

a.logo {
  display: none !important;
}

input.btn.btn-primary {
  // background: none;
  // border: none;
  // color: $primary-color;
  border: 2px solid #4717F6;
  color: #E7DFDD;
  width: 122px;
  line-height: 10px;
  margin: 10px auto;
  background: $background-color;
  height: 28px

}

a.btn.btn-block.btn-primary {
  border: 2px solid #4717F6;
  color: #E7DFDD;
  width: 122px;
  line-height: 10px;
  margin: 10px auto;
  background: $background-color;
  height: 28px;
}


input.btn.btn-primary:active{
  background: $background-color;
  border: none;
  outline: none;
  color: $primary-color;
}

.createButtons {
  background: none;
  color: $primary-color;
  border: none;
}

.authorize {
  color: $primary-color;
  background: none;
  border: none;
}

.state-container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.newRoom {
  text-align: center;
}

.create-room {
  margin-top: 30px;
}
