input#playlistName.form-control, input#name.form-control {
  background: $input-color;
  border: $input-color;
  color: $primary-color;
  width: 500px;
}

input.form-control{
  background: $input-color;
  border: none;
  border-radius: 0px;
}

input.form-control:active{
  outline: none;
}

a.logo {
  display: none !important;
}

input.btn.btn-primary {
  background: none;
  border: none;
  color: $primary-color;
}

input.btn.btn-primary:active{
  background: $background-color;
  border: none;
  outline: none;
  color: $primary-color;
}

.createButtons {
  background: none;
  color: $primary-color;
  border: none;
}

.authorize {
  color: $primary-color;
  background: none;
  border: none;
}

.state-container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.newRoom {
  text-align: center;
}
