.search-music {
  margin-top: 15px;
}

.title {
  margin-bottom: 30px;
}


.main {
  background: $background-color;
}

button.btn.btn-primary{
  background: none;
  border: none;
  color: $primary-color;
}

input.btn.btn-primary.btn-block:active{
    outline: none;
    background: $primary-color;
    color: $text-color;
  }

  button.btn.btn-danger.room {
    background: #0E0B16;
    border: none;
    transition: background 0.5s;
    width: 100%;

    &:hover{
      background: #d9534f;
      transition: background 0.5s;
    }
  }
