<section class="container">
  <div class="row">
    <section ng-if="!home.showRegister">
      <ng-include src="'/js/views/users/login.html'"></ng-include>
      <p class="text-right">
        <a ng-click="home.toggleShowRegister()">Or register</a>
      </p>
    </section>
    <section ng-if="home.showRegister">
      <ng-include src="'/js/views/users/register.html'"></ng-include>
      <p class="text-right">
        <a ng-click="home.toggleShowRegister()">Or login</a>
      </p>
    </section>
  </div>
</section>
